<launch>
    <node name="safety_brake" type="safety_brake" pkg="steve_safety_brake" output="screen">
        <remap from="cmd_vel_in" to="cmd_vel_watchdog"/>
        <remap from="laserscan" to="obstacle_detector/scan"/>
        <remap from="status" to="status/safety_break"/>
        <remap from="cmd_vel_safety_brake" to="cmd_vel_out"/>

        <param name="safety_width" value="1.2" />
        <param name="safety_length" value="1.75" />
    </node>
    
</launch>